[Unit]
Description=Foundry VTT Service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
; Restart if things go bang
Restart=on-abnormal

; User and group the process will run as.
User=ubuntu
Group=ubuntu

; Start FoundryVTT
ExecStart=/usr/bin/node /opt/foundry/resources/app/main.js --dataPath=/home/ubuntu/foundry-data

; Limit the number of file descriptors, see `man systemd.exec` for more limit settings.
LimitNOFILE=1048576

; Set the unit to read env vars in... Just in case.
; EnvironmentFile=-/home/foundry-env

[Install]
WantedBy=multi-user.target