---
tcp:
  routers:
    k0s-control-plane:
      entryPoints:
        - "websecure"
        - "kubectrl"
      rule: "HostSNI(`*`)"
      service: "k0s-control-plane"
      tls:
        passthrough: true

    k0s-api:
      entryPoints:
        - "websecure"
        - "k0s-api"
      rule: "HostSNI(`*`)"
      service: "k0s-api"
      tls:
        passthrough: true

    konnectivity:
      entryPoints:
        - "websecure"
        - "konnectivity"
      rule: "HostSNI(`*`)"
      service: "konnectivity"
      tls:
        passthrough: true

    etcd:
      entryPoints:
        - "websecure"
        - "etcd"
      rule: "HostSNI(`*`)"
      service: "etcd"
      tls:
        passthrough: true

  services:
    k0s-control-plane:
      loadBalancer:
        servers:
        - address: "192.168.100.11:6443" # ctrl-1
    k0s-api:
      loadBalancer:
        servers:
        - address: "192.168.100.11:9443" # ctrl-1

    konnectivity:
      loadBalancer:
        servers:
        - address: "192.168.100.11:8132" # ctrl-1

    etcd:
      loadBalancer:
        servers:
        - address: "192.168.100.11:2380" # ctrl-1
http:
  routers:

    proxmox:
      entryPoints:
        - "web"
        - "websecure"
      rule: "Host(`proxmox.eheaver.cloud`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: 
        certResolver: cloudflare
        domains:
          - main: "eheaver.cloud"
            sans:
              - "*.eheaver.cloud"
      service: proxmox
      priority: 10

    pihole:
      entryPoints:
        - "web"
        - "websecure"
      rule: "Host(`pihole.eheaver.cloud`)"
      middlewares:
        - default-headers
      tls: 
        certResolver: cloudflare
        domains:
          - main: "eheaver.cloud"
            sans:
              - "*.eheaver.cloud"
      service: pihole
      priority: 10

    pfsense:
      entryPoints:
        - "web"
        - "websecure"
      rule: "Host(`pfsense.eheaver.cloud`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: 
        certResolver: cloudflare
        domains:
          - main: "eheaver.cloud"
            sans:
              - "*.eheaver.cloud"
      service: pfsense
      priority: 10

    authelia:
      entryPoints:
        - "web"
        - "websecure"
      rule: "Host(`auth.eheaver.cloud`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: 
        certResolver: cloudflare
        domains:
          - main: "eheaver.cloud"
            sans:
              - "*.eheaver.cloud"
      service: authelia
      priority: 10

    traefik-ingress:
      entryPoints:
        - "web"
        - "websecure"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: 
        certResolver: cloudflare
        domains:
          - main: "eheaver.cloud"
            sans:
              - "*.eheaver.cloud"
      rule: "Host(`traefik.internal.eheaver.cloud`)"
      service: "traefik-ingress"

  services:

    proxmox:
      loadBalancer:
        servers:
          - url: "https://192.168.1.159:8006"
        passHostHeader: true
    
    pihole:
      loadBalancer:
        servers:
          - url: "http://192.168.1.94"
        passHostHeader: true
    
    pfsense:
      loadBalancer:
        servers:
          - url: "http://192.168.2.237" # LAN interface
        passHostHeader: true
    
    authelia:
      loadBalancer:
        servers:
          - url: "http://192.168.1.2"
        passHostHeader: true

    traefik-ingress:
      loadBalancer:
        servers:
          - url: "http://192.168.100.150:8080"
        passHostHeader: true

  middlewares:
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
    
    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipAllowList:
        sourceRange:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
        - "172.16.0.0/12"
        - "fc00::/7"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers
    
    authelia:
      forwardAuth:
        address: "https://auth.eheaver.cloud/api/authz/forward-auth?authelia_url=https://auth.eheaver.cloud"
        trustForwardHeader: true
        authResponseHeaders:
          - "Remote-User"
          - "Remote-Groups"
          - "Remote-Name"
          - "Remote-Email"
    
    webhook-ratelimit:
      rateLimit:
        average: 20
        period: 5s
        burst: 40

    internal-service-ratelimit:
      rateLimit:
        average: 5
        period: 1s
        burst: 15
...